@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: #000;
}

.step.step-primary::after {
  @apply text-white;
}

.ql-toolbar.ql-snow {
  border: 1px solid #ccc;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  box-sizing: border-box;
  font-family: helvetica neue, helvetica, arial, sans-serif;
  padding: 8px;
}

.ql-container {
  height: 125px !important;
  border-top: 0;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  margin-bottom: 3.1rem !important;
}

.min-h-unset {
  min-height: unset;
}

.min-h-screen-100 {
  min-height: calc(100vh - 100px);
}

.min-h-screen-90 {
  min-height: calc(100vh - 70px);
}

.max-h-screen-90 {
  max-height: calc(100vh - 90px);
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
  background-color: transparent; /* Hide background */
}

/* Track (background) */
::-webkit-scrollbar-track {
  display: block;
  opacity: 0;
  background: transparent; /* Color of the track */
  z-index: -1; /* Ensure the track appears behind the thumb */
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  width: 15px;
  height: 341px;
  top: 817px;
  right: 0px;
  position: absolute;
}

/* Handle (thumb) */
::-webkit-scrollbar-thumb {
  background: #aaa; /* Color of the handle */
  border-radius: 8px; /* Rounded corners */
  transition: background-color 0.2s linear, width 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s linear, width 0.2s ease-in-out;
  width: 6px;
  height: 80px;
  top: 194px;
  right: 2px;
  position: absolute;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999; /* Darker color on hover */
}

.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

.ps__rail-x {
  display: none;
  opacity: 0;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  height: 15px;
  bottom: 0;
  position: absolute;
}

/* Rail style */
.ps__rail-y {
  display: none;
  opacity: 0;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  width: 15px;
  right: 0;
  position: absolute;
}

.ps--active-y > .ps__rail-y {
  display: block;
  background-color: transparent;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: #999;
  width: 11px;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

.scroll-hint-button {
  position: fixed; /* Fixed position relative to the viewport */
  bottom: 20px; /* Distance from the bottom of the viewport */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center align the button */
  cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
  z-index: 1000; /* Ensure it's above other elements */
}

@keyframes flow {
  0%,
  100% {
    transform: translateY(0%);
    opacity: 0;
  }
  10% {
    transform: translateY(10%);
    opacity: 1;
  }
  90% {
    transform: translateY(90%);
    opacity: 1;
  }
}

.arrow {
  position: absolute;
  top: 0;
  animation: flow 3s linear infinite;
}

.arrow-2 {
  animation-delay: 1.5s; /* Half the duration of the animation */
}

/* Adjustments for different screen sizes */
@media (max-width: 768px) {
  .scroll-hint-button {
    bottom: 15px;
    right: 15px;
    width: 10%;
  }
}

@media (max-width: 480px) {
  .scroll-hint-button {
    bottom: 10px;
    right: 10px;
    width: 15%;
  }
}
